﻿@model List<SATBlog.Models.BlogText>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            @foreach (var item in Model)
            {
                <h2>@item.BLOG_NAME</h2>
                <h5>@item.BLOG_DATE</h5>
                <p>@item.BLOG_CONTEXT</p>
                <a>@item.Category.CATEGORY_NAME</a>


            }
           

        </div>
    </div>
</div>