.nav-dark{
    height: 100vh;
    background-color: #2D2D2D;
    width: 25%;
    float: left;
}

.nav-brand img{
    padding:8%;
    padding-top: 20%;
}
.navbar-collapse{
    display: inline-block;
    float: right;
    padding-right: 13%;
    color: #ffde17;
    margin-top: 40px;
    text-align: right;
  font-size: 18px;
    font-weight: bold;
}
.navbar-collapse ul{

    }
.navbar-collapse ul li:hover{
    color: white;
    cursor: default;
    -webkit-transition: all 0.8s linear;
    -moz-transition: all 0.8s linear;
    -o-transition: all 0.8s linear;
    transition: all 0.5s linear;
    }
.foter{
    position: fixed;
    margin-left:30px;
    bottom: 20px;
    font-size: 0.70em;
    color: #ffde17;
}
.nc{
   
    width: 100%;
    height: 100vh;
    background: #393939;
    color:#ffffff;
    text-align:justify;
    padding:10px;
    
}
.nc img{
   
    width: 75%;
    height: 100vh;
   
    
}